.completed-todos-container {
  flex: 5;
  margin: 0rem 0rem 0rem 1rem;
  border-radius: 10px;
  height: 400px;
  box-shadow: 1px 4px 5px 2px #ededed;
}

.completed-todos-header {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  color: white;
  background-color: #4cc978;
}
