.todos-container {
  flex: 1;
  border-radius: 10px;
  height: 400px;
  box-shadow: 1px 4px 5px 2px #ededed;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.todos-header {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  color: white;
  background-color: #fcc138;
}
