.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  padding: 5px;
  border-bottom: 1px solid #c7c7c7;
  transition: 0.2s ease-in-out;
  animation: fadeIn 0.6s;
}

.title-container {
  max-width: 70%;
}

.title-container p {
  font-size: 12pt;
}

.todo-item:hover {
  background-color: #dadada;
  cursor: pointer;
}

.icon {
  margin: 0rem 0.2rem 0rem 0.2rem;
  color: #8f8f8f;
}

.check-icon:hover {
  color: #4cc978;
}

.delete-icon:hover {
  color: red;
}

.readd-icon:hover {
  color: #fcc138;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
